# Learning Objectives
In this notebook, you will learn Spark Dataframe APIs.

# Question List

Solve the following questions using Spark Dataframe APIs

### Join

1. easy - https://pgexercises.com/questions/joins/simplejoin.html
2. easy - https://pgexercises.com/questions/joins/simplejoin2.html
3. easy - https://pgexercises.com/questions/joins/self2.html 
4. medium - https://pgexercises.com/questions/joins/threejoin.html (three join)
5. medium - https://pgexercises.com/questions/joins/sub.html (subquery and join)

### Aggregation

1. easy - https://pgexercises.com/questions/aggregates/count3.html Group by order by
2. easy - https://pgexercises.com/questions/aggregates/fachours.html group by order by
3. easy - https://pgexercises.com/questions/aggregates/fachoursbymonth.html group by with condition 
4. easy - https://pgexercises.com/questions/aggregates/fachoursbymonth2.html group by multi col
5. easy - https://pgexercises.com/questions/aggregates/members1.html count distinct
6. med - https://pgexercises.com/questions/aggregates/nbooking.html group by multiple cols, join

### String & Date

1. easy - https://pgexercises.com/questions/string/concat.html format string
2. easy - https://pgexercises.com/questions/string/case.html WHERE + string function
3. easy - https://pgexercises.com/questions/string/reg.html WHERE + string function
4. easy - https://pgexercises.com/questions/string/substr.html group by, substr
5. easy - https://pgexercises.com/questions/date/series.html generate ts
6. easy - https://pgexercises.com/questions/date/bookingspermonth.html extract month from ts

### Question

How can you produce a list of the start times for bookings by members named 'David Farrell'?

https://pgexercises.com/questions/joins/simplejoin.html

In [0]:
# Write you solution here
# hint: you might need to re-run `0 - ETL pgexercieses CSV files` notebook to init tables

members = spark.sql("SELECT * FROM members")
bookings = spark.sql("SELECT * FROM bookings")

bookings = bookings.join(members, bookings["memid"] == members["memid"], 'inner')
bookings = bookings.filter((bookings["firstname"] == 'David') & (bookings["surname"] == 'Farrell'))
display(bookings.select("starttime"))

starttime
2012-09-18T09:00:00.000+0000
2012-09-18T17:30:00.000+0000
2012-09-18T13:30:00.000+0000
2012-09-18T20:00:00.000+0000
2012-09-19T09:30:00.000+0000
2012-09-19T15:00:00.000+0000
2012-09-19T12:00:00.000+0000
2012-09-20T15:30:00.000+0000
2012-09-20T11:30:00.000+0000
2012-09-20T14:00:00.000+0000
2012-09-21T10:30:00.000+0000
2012-09-21T14:00:00.000+0000
2012-09-22T08:30:00.000+0000
2012-09-22T17:00:00.000+0000
2012-09-23T08:30:00.000+0000
2012-09-23T17:30:00.000+0000
2012-09-23T19:00:00.000+0000
2012-09-24T08:00:00.000+0000
2012-09-24T16:30:00.000+0000
2012-09-24T12:30:00.000+0000
2012-09-25T15:30:00.000+0000
2012-09-25T17:00:00.000+0000
2012-09-26T13:00:00.000+0000
2012-09-26T17:00:00.000+0000
2012-09-27T08:00:00.000+0000
2012-09-28T11:30:00.000+0000
2012-09-28T09:30:00.000+0000
2012-09-28T13:00:00.000+0000
2012-09-29T16:00:00.000+0000
2012-09-29T10:30:00.000+0000
2012-09-29T13:30:00.000+0000
2012-09-29T14:30:00.000+0000
2012-09-29T17:30:00.000+0000
2012-09-30T14:30:00.000+0000

### Question
How can you produce a list of the start times for bookings for tennis courts, for the date '2012-09-21'? Return a list of start time and facility name pairings, ordered by the time.
https://pgexercises.com/questions/joins/simplejoin2.html

In [0]:
bookings = spark.sql("SELECT * FROM bookings")
facilities = spark.sql("SELECT * FROM facilities")

bookings = bookings.join(facilities, 'facid', 'inner')
bookings = bookings.filter((bookings["name"].like('Tennis Court %')) & (bookings["starttime"] >= "2012-09-21 00:00:00") & (bookings["starttime"] < "2012-09-22 00:00:00"))
display(bookings.select("starttime", "name").orderBy(bookings.starttime.asc()))

starttime,name
2012-09-21T08:00:00.000+0000,Tennis Court 1
2012-09-21T08:00:00.000+0000,Tennis Court 2
2012-09-21T09:30:00.000+0000,Tennis Court 1
2012-09-21T10:00:00.000+0000,Tennis Court 2
2012-09-21T11:30:00.000+0000,Tennis Court 2
2012-09-21T12:00:00.000+0000,Tennis Court 1
2012-09-21T13:30:00.000+0000,Tennis Court 1
2012-09-21T14:00:00.000+0000,Tennis Court 2
2012-09-21T15:30:00.000+0000,Tennis Court 1
2012-09-21T16:00:00.000+0000,Tennis Court 2
2012-09-21T17:00:00.000+0000,Tennis Court 1
2012-09-21T18:00:00.000+0000,Tennis Court 2

### Question
How can you output a list of all members, including the individual who recommended them (if any)? Ensure that results are ordered by (surname, firstname).
https://pgexercises.com/questions/joins/self2.html

In [0]:
members = spark.sql("SELECT * FROM members")
recommenders = spark.sql("SELECT * FROM members")

joined = members.join(recommenders, members["recommendedby"] == recommenders["memid"], "left")
result = joined.select(
    members.firstname.alias("memfname"),
    members.surname.alias("memsname"),
    recommenders.firstname.alias("recfname"),
    recommenders.surname.alias("recsname")
)
display(result.orderBy(["memsname", "memfname"], ascending = True))

memfname,memsname,recfname,recsname
Florence,Bader,Ponder,Stibbons
Anne,Baker,Ponder,Stibbons
Timothy,Baker,Jemima,Farrell
Tim,Boothe,Tim,Rownam
Gerald,Butters,Darren,Smith
Joan,Coplin,Timothy,Baker
Erica,Crumpet,Tracy,Smith
Nancy,Dare,Janice,Joplette
David,Farrell,null,null
Jemima,Farrell,null,null
GUEST,GUEST,null,null
Matthew,Genting,Gerald,Butters
John,Hunt,Millicent,Purview
David,Jones,Janice,Joplette
Douglas,Jones,David,Jones
Janice,Joplette,Darren,Smith
Anna,Mackenzie,Darren,Smith
Charles,Owen,Darren,Smith
David,Pinker,Jemima,Farrell
Millicent,Purview,Tracy,Smith
Tim,Rownam,null,null
Henrietta,Rumney,Matthew,Genting
Ramnaresh,Sarwin,Florence,Bader
Darren,Smith,null,null
Darren,Smith,null,null
Jack,Smith,Darren,Smith
Tracy,Smith,null,null
Ponder,Stibbons,Burton,Tracy
Burton,Tracy,null,null
Hyacinth,Tupperware,null,null
Henry,Worthington-Smyth,Tracy,Smith

### Question
How can you produce a list of all members who have used a tennis court? Include in your output the name of the court, and the name of the member formatted as a single column. Ensure no duplicate data, and order by the member name followed by the facility name. \
https://pgexercises.com/questions/joins/threejoin.html

In [0]:
from pyspark.sql.functions import concat_ws

members = spark.sql("SELECT * FROM members")
bookings = spark.sql("SELECT * FROM bookings")
facilities = spark.sql("SELECT * FROM facilities")

bookings = bookings.join(members, bookings["memid"] == members["memid"], "inner")
bookings = bookings.join(facilities, bookings["facid"] == facilities["facid"], "inner")

bookings = bookings.filter(bookings["name"].like("Tennis Court %"))
bookings = bookings.withColumn("member", concat_ws(" ", bookings["firstname"], bookings["surname"]))
display(bookings.select("member", "name").distinct().orderBy(["member", "name"], ascending = True))

member,name
Anne Baker,Tennis Court 1
Anne Baker,Tennis Court 2
Burton Tracy,Tennis Court 1
Burton Tracy,Tennis Court 2
Charles Owen,Tennis Court 1
Charles Owen,Tennis Court 2
Darren Smith,Tennis Court 2
David Farrell,Tennis Court 1
David Farrell,Tennis Court 2
David Jones,Tennis Court 1
David Jones,Tennis Court 2
David Pinker,Tennis Court 1
Douglas Jones,Tennis Court 1
Erica Crumpet,Tennis Court 1
Florence Bader,Tennis Court 1
Florence Bader,Tennis Court 2
GUEST GUEST,Tennis Court 1
GUEST GUEST,Tennis Court 2
Gerald Butters,Tennis Court 1
Gerald Butters,Tennis Court 2
Henrietta Rumney,Tennis Court 2
Jack Smith,Tennis Court 1
Jack Smith,Tennis Court 2
Janice Joplette,Tennis Court 1
Janice Joplette,Tennis Court 2
Jemima Farrell,Tennis Court 1
Jemima Farrell,Tennis Court 2
Joan Coplin,Tennis Court 1
John Hunt,Tennis Court 1
John Hunt,Tennis Court 2
Matthew Genting,Tennis Court 1
Millicent Purview,Tennis Court 2
Nancy Dare,Tennis Court 1
Nancy Dare,Tennis Court 2
Ponder Stibbons,Tennis Court 1
Ponder Stibbons,Tennis Court 2
Ramnaresh Sarwin,Tennis Court 1
Ramnaresh Sarwin,Tennis Court 2
Tim Boothe,Tennis Court 1
Tim Boothe,Tennis Court 2
Tim Rownam,Tennis Court 1
Tim Rownam,Tennis Court 2
Timothy Baker,Tennis Court 1
Timothy Baker,Tennis Court 2
Tracy Smith,Tennis Court 1
Tracy Smith,Tennis Court 2

### Question
How can you output a list of all members, including the individual who recommended them (if any), without using any joins? Ensure that there are no duplicates in the list, and that each firstname + surname pairing is formatted as a column and ordered. \
https://pgexercises.com/questions/joins/sub.html

In [0]:
from pyspark.sql.functions import concat_ws

members = spark.sql("SELECT * FROM members")
recommenders = spark.sql("SELECT * FROM members")

members = members.withColumn("member", concat_ws(" ", members["firstname"], members["surname"]))
recommenders= recommenders.withColumn("recommender", concat_ws(" ", recommenders["firstname"], recommenders["surname"]))

result = members.join(recommenders, members["recommendedby"] == recommenders["memid"], "left")

display(result.select("member", "recommender").orderBy(["member", "recommender"], ascending = True))

member,recommender
Anna Mackenzie,Darren Smith
Anne Baker,Ponder Stibbons
Burton Tracy,null
Charles Owen,Darren Smith
Darren Smith,null
Darren Smith,null
David Farrell,null
David Jones,Janice Joplette
David Pinker,Jemima Farrell
Douglas Jones,David Jones
Erica Crumpet,Tracy Smith
Florence Bader,Ponder Stibbons
GUEST GUEST,null
Gerald Butters,Darren Smith
Henrietta Rumney,Matthew Genting
Henry Worthington-Smyth,Tracy Smith
Hyacinth Tupperware,null
Jack Smith,Darren Smith
Janice Joplette,Darren Smith
Jemima Farrell,null
Joan Coplin,Timothy Baker
John Hunt,Millicent Purview
Matthew Genting,Gerald Butters
Millicent Purview,Tracy Smith
Nancy Dare,Janice Joplette
Ponder Stibbons,Burton Tracy
Ramnaresh Sarwin,Florence Bader
Tim Boothe,Tim Rownam
Tim Rownam,null
Timothy Baker,Jemima Farrell
Tracy Smith,null

### Question
Produce a count of the number of recommendations each member has made. Order by member ID. \
https://pgexercises.com/questions/aggregates/count3.html

In [0]:
from pyspark.sql.functions import count

members = spark.sql("SELECT * FROM members")
members = members.groupBy("recommendedby").agg(count("*").alias("count"))
display(members.select("recommendedby", "count").orderBy(members.recommendedby.asc()))

recommendedby,count
null,9
1,5
2,3
3,1
4,2
5,1
6,1
9,2
11,1
13,2
15,1
16,1
20,1
30,1

### Question
Produce a list of the total number of slots booked per facility. For now, just produce an output table consisting of facility id and slots, sorted by facility id. \
https://pgexercises.com/questions/aggregates/fachours.html

In [0]:
from pyspark.sql.functions import sum
bookings = spark.sql("SELECT * FROM bookings")

bookings = bookings.groupBy("facid").agg(sum("slots").alias("Total Slots"))
display(bookings.select("facid", "Total Slots").orderBy("facid"))

facid,Total Slots
0,1320
1,1278
2,1209
3,830
4,1404
5,228
6,1104
7,908
8,911

### Question
Produce a list of the total number of slots booked per facility in the month of September 2012. Produce an output table consisting of facility id and slots, sorted by the number of slots. \
https://pgexercises.com/questions/aggregates/fachoursbymonth.html

In [0]:
from pyspark.sql.functions import sum

bookings = spark.sql("SELECT * FROM bookings")

bookings = bookings.filter((bookings["starttime"] >= '2012-09-01 00:00:00') & (bookings["starttime"] < '2012-10-01 00:00:00'))
bookings = bookings.groupBy("facid").agg(sum("slots").alias("Total Slots"))
display(bookings.select("facid", "Total Slots").orderBy(["Total Slots"], ascending = True))

facid,Total Slots
5,122
3,422
7,426
8,471
6,540
2,570
1,588
0,591
4,648

### Question
Produce a list of the total number of slots booked per facility per month in the year of 2012. Produce an output table consisting of facility id and slots, sorted by the id and month. \
https://pgexercises.com/questions/aggregates/fachoursbymonth2.html

In [0]:
from pyspark.sql.functions import sum, month

bookings = spark.sql("SELECT * FROM bookings")

bookings = bookings.filter((bookings["starttime"] >= '2012-01-01 00:00:00') & (bookings["starttime"] < '2013-01-01 00:00:00'))
bookings = bookings.withColumn("month", month("starttime"))
bookings = bookings.groupBy("facid", "month").agg(sum("slots").alias("Total Slots"))
display(bookings.select("facid", "month", "Total Slots").orderBy("facid", "month"))

facid,month,Total Slots
0,7,270
0,8,459
0,9,591
1,7,207
1,8,483
1,9,588
2,7,180
2,8,459
2,9,570
3,7,104
3,8,304
3,9,422
4,7,264
4,8,492
4,9,648
5,7,24
5,8,82
5,9,122
6,7,164
6,8,400
6,9,540
7,7,156
7,8,326
7,9,426
8,7,117
8,8,322
8,9,471

### Question
Find the total number of members (including guests) who have made at least one booking. \
https://pgexercises.com/questions/aggregates/members1.html

In [0]:
from pyspark.sql.functions import count

bookings = spark.sql("SELECT * FROM bookings")
display(bookings.select("memid").distinct().count())

30

### Question
Produce a list of each member name, id, and their first booking after September 1st 2012. Order by member ID. \
https://pgexercises.com/questions/aggregates/nbooking.html

In [0]:
from pyspark.sql.functions import min

members = spark.sql("SELECT * FROM members")
bookings = spark.sql("SELECT * FROM bookings")

members = members.join(bookings, "memid", "inner")
members = members.filter(bookings["starttime"] >= '2012-09-01 00:00:00')
members = members.groupBy("memid", "firstname", "surname").agg(min("starttime").alias("first booking"))

display(members.select("surname", "firstname", "memid", "first booking").orderBy("memid"))

surname,firstname,memid,first booking
GUEST,GUEST,0,2012-09-01T08:00:00.000+0000
Smith,Darren,1,2012-09-01T09:00:00.000+0000
Smith,Tracy,2,2012-09-01T11:30:00.000+0000
Rownam,Tim,3,2012-09-01T16:00:00.000+0000
Joplette,Janice,4,2012-09-01T15:00:00.000+0000
Butters,Gerald,5,2012-09-02T12:30:00.000+0000
Tracy,Burton,6,2012-09-01T15:00:00.000+0000
Dare,Nancy,7,2012-09-01T12:30:00.000+0000
Boothe,Tim,8,2012-09-01T08:30:00.000+0000
Stibbons,Ponder,9,2012-09-01T11:00:00.000+0000
Owen,Charles,10,2012-09-01T11:00:00.000+0000
Jones,David,11,2012-09-01T09:30:00.000+0000
Baker,Anne,12,2012-09-01T14:30:00.000+0000
Farrell,Jemima,13,2012-09-01T09:30:00.000+0000
Smith,Jack,14,2012-09-01T11:00:00.000+0000
Bader,Florence,15,2012-09-01T10:30:00.000+0000
Baker,Timothy,16,2012-09-01T15:00:00.000+0000
Pinker,David,17,2012-09-01T08:30:00.000+0000
Genting,Matthew,20,2012-09-01T18:00:00.000+0000
Mackenzie,Anna,21,2012-09-01T08:30:00.000+0000
Coplin,Joan,22,2012-09-02T11:30:00.000+0000
Sarwin,Ramnaresh,24,2012-09-04T11:00:00.000+0000
Jones,Douglas,26,2012-09-08T13:00:00.000+0000
Rumney,Henrietta,27,2012-09-16T13:30:00.000+0000
Farrell,David,28,2012-09-18T09:00:00.000+0000
Worthington-Smyth,Henry,29,2012-09-19T09:30:00.000+0000
Purview,Millicent,30,2012-09-19T11:30:00.000+0000
Tupperware,Hyacinth,33,2012-09-20T08:00:00.000+0000
Hunt,John,35,2012-09-23T14:00:00.000+0000
Crumpet,Erica,36,2012-09-27T11:30:00.000+0000

### Question
Output the names of all members, formatted as 'Surname, Firstname' \
https://pgexercises.com/questions/string/concat.html

In [0]:
from pyspark.sql.functions import concat_ws

members = spark.sql("SELECT * FROM members")

members = members.withColumn("member", concat_ws(", ", members["surname"], members["firstname"]))
display(members.select("member"))

member
"GUEST, GUEST"
"Smith, Darren"
"Smith, Tracy"
"Rownam, Tim"
"Joplette, Janice"
"Butters, Gerald"
"Tracy, Burton"
"Dare, Nancy"
"Boothe, Tim"
"Stibbons, Ponder"
"Owen, Charles"
"Jones, David"
"Baker, Anne"
"Farrell, Jemima"
"Smith, Jack"
"Bader, Florence"
"Baker, Timothy"
"Pinker, David"
"Genting, Matthew"
"Mackenzie, Anna"
"Coplin, Joan"
"Sarwin, Ramnaresh"
"Jones, Douglas"
"Rumney, Henrietta"
"Farrell, David"
"Worthington-Smyth, Henry"
"Purview, Millicent"
"Tupperware, Hyacinth"
"Hunt, John"
"Crumpet, Erica"
"Smith, Darren"

### Question
Perform a case-insensitive search to find all facilities whose name begins with 'tennis'. Retrieve all columns. \
https://pgexercises.com/questions/string/case.html

In [0]:
from pyspark.sql.functions import lower

facilities = spark.sql("SELECT * FROM facilities")

facilities = facilities.filter(lower(facilities["name"]).like("tennis%"))
display(facilities)

facid,name,membercost,guestcost,initialoutlay,monthlymaintenance
0,Tennis Court 1,5.0,25.0,10000.0,200.0
1,Tennis Court 2,5.0,25.0,8000.0,200.0

### Question
You've noticed that the club's member table has telephone numbers with very inconsistent formatting. You'd like to find all the telephone numbers that contain parentheses, returning the member ID and telephone number sorted by member ID. \
https://pgexercises.com/questions/string/reg.html

In [0]:
members = spark.sql("SELECT * FROM members")
members = members.filter(members["telephone"].like("(%)%"))
display(members.select("memid", "telephone").orderBy("memid"))

memid,telephone
0,(000) 000-0000
3,(844) 693-0723
4,(833) 942-4710
5,(844) 078-4130
6,(822) 354-9973
7,(833) 776-4001
8,(811) 433-2547
9,(833) 160-3900
10,(855) 542-5251
11,(844) 536-8036
13,(855) 016-0163
14,(822) 163-3254
15,(833) 499-3527
20,(811) 972-1377
21,(822) 661-2898
22,(822) 499-2232
24,(822) 413-1470
27,(822) 989-8876
28,(855) 755-9876
29,(855) 894-3758
30,(855) 941-9786
33,(822) 665-5327
35,(899) 720-6978
36,(811) 732-4816
37,(822) 577-3541

### Question
You'd like to produce a count of how many members you have whose surname starts with each letter of the alphabet. Sort by the letter, and don't worry about printing out a letter if the count is 0. \
https://pgexercises.com/questions/string/substr.html

In [0]:
from pyspark.sql.functions import count, substring

members = spark.sql("SELECT * FROM members")
members = members.withColumn("letter", substring("surname", 1, 1))
members = members.groupBy("letter").agg(count("letter").alias("count"))

display(members.select("letter", "count").orderBy("letter"))

letter,count
B,5
C,2
D,1
F,2
G,2
H,1
J,3
M,1
O,1
P,2
R,2
S,6
T,2
W,1

### Question
Produce a list of all the dates in October 2012. They can be output as a timestamp (with time set to midnight) or a date. \
https://pgexercises.com/questions/date/series.html

In [0]:
from pyspark.sql.functions import sequence, explode, to_timestamp

start_date = '2012-10-01 00:00:00'
end_date = '2012-10-31 23:59:59'

df = spark.createDataFrame([(start_date, end_date)], ["start_date", "end_date"])

df = df.select(sequence(to_timestamp(df.start_date), to_timestamp(df.end_date), expr("INTERVAL 1 DAY")).alias("dates"))
df = df.select(explode("dates"))

display(df)

col
2012-10-01T00:00:00.000+0000
2012-10-02T00:00:00.000+0000
2012-10-03T00:00:00.000+0000
2012-10-04T00:00:00.000+0000
2012-10-05T00:00:00.000+0000
2012-10-06T00:00:00.000+0000
2012-10-07T00:00:00.000+0000
2012-10-08T00:00:00.000+0000
2012-10-09T00:00:00.000+0000
2012-10-10T00:00:00.000+0000
2012-10-11T00:00:00.000+0000
2012-10-12T00:00:00.000+0000
2012-10-13T00:00:00.000+0000
2012-10-14T00:00:00.000+0000
2012-10-15T00:00:00.000+0000
2012-10-16T00:00:00.000+0000
2012-10-17T00:00:00.000+0000
2012-10-18T00:00:00.000+0000
2012-10-19T00:00:00.000+0000
2012-10-20T00:00:00.000+0000
2012-10-21T00:00:00.000+0000
2012-10-22T00:00:00.000+0000
2012-10-23T00:00:00.000+0000
2012-10-24T00:00:00.000+0000
2012-10-25T00:00:00.000+0000
2012-10-26T00:00:00.000+0000
2012-10-27T00:00:00.000+0000
2012-10-28T00:00:00.000+0000
2012-10-29T00:00:00.000+0000
2012-10-30T00:00:00.000+0000
2012-10-31T00:00:00.000+0000

### Question
Return a count of bookings for each month, sorted by month. \
https://pgexercises.com/questions/date/bookingspermonth.html

In [0]:
from pyspark.sql.functions import month

bookings = spark.sql("SELECT * FROM bookings")
bookings = bookings.withColumn("month", month("starttime"))
bookings = bookings.groupBy("month").agg(count("*").alias("count"))
display(bookings.select("month", "count").orderBy("month"))

month,count
1,1
7,658
8,1472
9,1913